<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>500</h1>
      <h2>Opps, something went wrong</h2>
      <p>Server Error 500, We apologise and are fixing the problem.</p>
      <p>Please try again at a later stage.</p>
      <a href="/" class="btn btn-primary">Go to Home</a>
    </main>
  </body>
</html>
