<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
      <a href="/restaurants" class="btn btn-primary">Show Restaurants</a>
    </main>
  </body>
</html>
